<div id="new_rent_page_wrapper">
  <h1><%= image_tag "icon.png", width: "36px", style: "vertical-align:top; margin-right: 5px;" %>Zuker Guests</h1>
  <p>Pay rents free, without register.</p>

  <%= render 'form' %>
</div>